
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url();
}
* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-image: url(pictures/defbg.jpg);
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: absolute;
    width: 50%;
    background-color: white;
    align-self: center;
    display: block;
    margin-left: 475px;
    margin-top: 150px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px;
    padding-bottom: 100px;
    border-top: dashed;
    border-bottom: dashed;
    border-width: 2px;
}
.adv-container{
    text-align: center;
    align-self: center;
    position: relative;
    margin-top: 150px;
    margin-left: 50px;
    float: left;
    width: 25%;
    background-color: white;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 100px;
    height: 398px;
    font-size: 125%;
    border-style: dashed;
    border-width: 2px;
}
.adv-container header{
    text-decoration: underline;
}
.adv-container p{
    text-align: center;
}
.pop-container{
    text-align: center;
    align-self: center;
    position: relative;
    margin-top: 150px;
    margin-right: 50px;
    float: right;
    width: 25%;
    background-color: white;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 100px;
    height: 398px;
    font-size: 125%;
    border-style: dashed;
    border-width: 2px;
}
.pop-container header{
    text-decoration: underline;
}
.pop-container p{
    text-align: center;
}

.app-title{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: black;
}
#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: 3px solid steelblue; 
}
.notification{
    background-color: white;
    display: none;
}
.notification p{
    color: red;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px;
}
.weather-container{
    width: 100%;
    height: 260px;
    background-color: white;
    margin-top: 20px;
}
.weather-icon {
    width: 100%;
    height: 128px;
}
.weather-icon img{
    display: block;
    margin: 0 auto;
}
.location-icon {
    width: 100%;
    height: 40px;
    padding: 10px;
}
.location-icon img{
    display: block;
    width: 32px;
    margin: 10px auto;
    cursor: pointer;
    padding: 5px;
    border: steelblue solid 2px;
    border-radius: 10px;
    color: steelblue;
}
.temperature {
    width: 100%;
    height: 60px;
}
.temperature p {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 4em;
    text-align: center;
}
.temperature span{
    color: black;
    font-size: 0.5em;
}
.temperature-desc p{
    padding: 8px;
    margin: 0;
    color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
}
.location p{
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 0.8em;
    font-weight: bolder;
}
div.relative{
    position: absolute;
    top: 600px;
    right: 120px;
}
.footer{
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
}
#inside-footer{
    background-color: black;
}
#header{
    color: white;
    position: relative;
    text-align: center;
    font-weight: bolder;
    top: 0;
}
h1 {
    background-color: black;
}
#github{
    color: white;
    text-decoration: white;
    float: right;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
#github-text{
    color: white;
    background-color: black;
    text-decoration: white;
    float: right;
    bottom: 0;
    right: 0;
}
#github-text:active{
    color: white;
}
#github-text:visited{
    color: white;
}
#github-text:hover{
    color: blue;
    text-decoration: underline;
}